* {
    font-family: sans-serif;
    
    margin: 0;
}

.agroup {
    display: flex;
    flex-direction: column;
    
}


.header {
    background-color: rgb(122, 0, 146);
    margin: 0px;
    height: 100px;
}

.menu {
    
    background-image: linear-gradient(rgb(158, 158, 158), rgb(90, 90, 90));
    
    margin: 0px;
    padding: 0px;
    
    
}






  
/*  abajo es el menu desplegabe*/

#btn-menu {
    display: none; 
}

menu label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #000;
}

menu label:hover {
    cursor: pointer;
    background: rgb(102, 102, 102);
}


.menu-mov ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    

}

.menu-mov li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;

}

.menu-mov li {
    border-right: 1px solid #000;
}

.menu-mov li:hover {
    background: rgb(102, 102, 102);

}

@media (max-width:900px) {
    
    menu label {
        display: block;
    }

    .menu-mov {
        position: absolute;
        background: rgb(177, 177, 177);
        width: 50%;
        margin-left: -70%;
        transition: all 0.2s;
        z-index: 1;
    }

    .menu-mov ul {
        flex-direction: column;
    }

    .menu-mov li {
        border-top: 1px solid #000;
    }

    #btn-menu:checked ~ .menu-mov {
        margin: 0;
    }
}

/* arriba  para menu */

.main {
    background-color: rgb(156, 156, 156);
   
    

}


.aside {
    background-color: rgb(99, 99, 99);
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 2;
   
}

.footer {
    background-color: rgb(181, 101, 201);
    
   
}

.footer h2 {
    font-family: sans-serif;
    text-align: right;
    font-size: 18px;
    margin-right: 20px;
    padding: 5px;

}

/* -- to top ---*/

.to-top {
    background: rgb(185, 185, 185);
    position: fixed;
    bottom: 35px;
    right: 25px;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    color: #000;
    transition: all 0.5s;
    
}

.to-top:hover {
    background: rgb(102, 102, 102);
}


/*en caso que sea menor a 900px */

.iframe2 {
    
    top:0;
    left: 0;
    width: 100%;
    height: auto; 
    margin: auto; 
    position: relative;
    padding-top: 56.25%;
    
}   

.flex-item iframe {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
   
}

.flex-container {
    display: flex;
    flex-direction: column;
    
    
    
}
  




.flex-item caja2 {
    background-color: rgb(146, 95, 170);
    color: rgb(0, 0, 0);
    margin: 10px;
    height: 70vh;
    min-width: 250px;
    text-align: center;
    

}

.flex-item .caja3 {
    background-color: rgb(146, 95, 170);
    color: rgb(0, 0, 0);
    margin: 10px;
    height: 50vh;
    min-width: 250px;
    text-align: center;
    padding: 10px 10px;

}

.flex-item {
    background-color: rgb(146, 95, 170);
    color: rgb(0, 0, 0);
    margin: 10px;
    height: 80vh;
    min-width: 250px;
    text-align: center;
    padding: 10px 10px;

}

.flex-item .caja5 {
    background-color: rgb(146, 95, 170);
    color: rgb(0, 0, 0);
    margin: 10px;
    height: 80vh;
    min-width: 250px;
    text-align: center;
    padding: 10px 10px;

}




@media screen and (min-width: 900px) {
    .agroup {
        display: grid;
        grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 80px;
        grid-template-columns: repeat(2, fr1) 100px;
    }


    .header {
        grid-column: 1 / span 3;
    }

    .menu {
        grid-column: 1 / span 3;
        grid-row: 2 / 3;
        margin: 0px;
        padding: 0px;


    }
    
    .main {
    
        grid-row: 3 / 7;
        grid-column: 1 / span 2;
        
    }

    .aside {
        grid-row: 3 / 7;
        grid-column: 3 / 4;
        
    }

    .footer {
    
        grid-row: 7 / 8;
        grid-column: 1 / span 3;

     }

}

/* ---MAIN 4 cajas con imagenes y demas -- */
@media screen and (min-width: 900px) {

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .flex-item {
        background-color: #000;
        color: aqua;
        margin: 5px;
        height: 450px;
        min-width: 350px;
        text-align: center;
    
    }
   

    

}



/*      
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, fr1);



      background-color: #000;
        color: aqua;
        margin: 5px;
        height: 450px;
        min-width: 250px;
        text-align: center;
        */

        

