* {
    font-family: sans-serif;
    margin: 0;
}

.agroup {
    display: flex;
    flex-direction: column;
    
}


.header {
    background-color: rgb(122, 0, 146);
    margin: 0px;
}

.menu {
    background-color: rgb(199, 127, 127);
    margin: 0px;
    padding: 0;
    
    
}

/*  abajo es el menu desplegabe*/

#btn-menu {
    display: none; 
}

menu label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #000;
}

menu label:hover {
    cursor: pointer;
    background: rgb(102, 102, 102);
}

.menu-mov ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    

}

.menu-mov li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;

}

.menu-mov li {
    border-right: 1px solid #000;
}

.menu-mov li:hover {
    background: rgb(102, 102, 102);

}

@media (max-width:900px) {
    
    menu label {
        display: block;
    }

    .menu-mov {
        position: absolute;
        background: rgb(199, 127, 127);
        width: 50%;
        margin-left: -70%;
        transition: all 0.2s;
    }

    .menu-mov ul {
        flex-direction: column;
    }

    .menu-mov li {
        border-top: 1px solid #000;
    }

    #btn-menu:checked ~ .menu-mov {
        margin: 0;
    }
}

/* arriba  para menu */

.main {
    background-color: rgb(156, 156, 156);
   
    

}

.aside {
    background-color: rgb(99, 99, 99);
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 2;
   
}

.footer {
    background-color: rgb(48, 64, 136);
   
   
    
}

/* -- to top ---*/

.to-top {
    background: rgb(156, 62, 199);
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
    
    font-size: 30px;
    color: #000;
    
}

.to-top:hover {
    background: rgb(102, 102, 102);
}


/*en casi que sea menor a 900px */

.flex-container {
    display: flex;
    flex-direction: column;
    
    
}


.flex-item {
    background-color: #000;
    color: aqua;
    margin: 10px;
    height: 450px;
    min-width: 250px;
    text-align: center;

}





@media screen and (min-width: 900px) {
    .agroup {
        display: grid;
        grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 80px;
        grid-template-columns: repeat(2, fr1) 100px;
    }


    .header {
        grid-column: 1 / span 3;
    }

    .menu {
        grid-column: 1 / span 3;
    }
    
    .main {
    
        grid-row: 3 / 7;
        grid-column: 1 / span 2;
        gr
    }

    .aside {
        grid-row: 3 / 7;
        grid-column: 3 / 4;
        
    }

    .footer {
    
        grid-row: 7 / 8;
        grid-column: 1 / span 3;

     }

}

/* ---MAIN 4 cajas con imagenes y demas -- */
@media screen and (min-width: 900px) {

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .flex-item {
        background-color: #000;
        color: aqua;
        margin: 5px;
        height: 450px;
        min-width: 350px;
        text-align: center;
    
    }
   

    

}



/*      
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, fr1);



      background-color: #000;
        color: aqua;
        margin: 5px;
        height: 450px;
        min-width: 250px;
        text-align: center;
        */

        

